<% provide(:title, "Food Details") %>
<% #include_javascript 'admin/foods/show.js' %>

<%= render :partial => 'aside', :locals => { :f => nil, :uobj => nil, :bcobj => @food } %>

<div class="row-fluid">
	<div class="span12">
		<div class="row-fluid">
			<div class="span12">
				<table class="table">
					<thead>
						<tr>
							<th>Name:</th>
							<th>Calories:</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><%= @food.display_name %></td>
							<td><%= @food.calories.to_i %></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>