<% provide(:title, 'About Me') %>

<h1>About</h1>

<div class="row-fluid">
  <div class="offset3 span6">
    <p>Once upon a time there was a very hungry software developer who came back home after a long day at work.</p>
    <p>To his surprise he found the house, especially the kitchen table, covered with dozens of papers. He asked his wife what was the purpose of such paper, and she told him she needed to track her fitness activity.</p>
    <p>The lovely husband decided to make a web application, just to preserve the domestic environment and, maybe, to save some trees. The damsel was very excited about this brilliant idea and the brave knight spent all his free time creating this "marvelous" application (more or less).</p>
    <p>After a few weeks the app was ready and the wife was really happy ...</p>
    <p>So the moral of the story is ...
    <p>The house is still a mess! Empty Nespresso capsules everywhere ... and now I'm thinking about a new application!</p>
  </div>
</div>