<% provide(:title, 'Contact Me') %>

<h1>Contact</h1>

<div class="row-fluid">
  <div class="offset3 span6">
    For any suggestions or comments you can contact me by email: <%= mail_to 'michelegozzi@gmail.com' %>
  </div>
</div>