/* universal */

body {
	padding-top: 60px;
}

@media (max-width: 980px) {
  body {
    padding-top: 0;
  }
}

section {
	overflow: auto;
}

textarea {
	resize: vertical;
}

.center {
	text-align: center;
	h1 {
		margin-bottom: 10px;
	}
}