<tr>
	<td class="name"><%= activity.name %></td>
	<td class="time"><%= activity.time.localtime.strftime("%I:%M %p") %></td>
	<td class="duration"><%= activity.duration %></td>
	<td class="intensity"><%= Activity::INTENSITY_LEVEL.select {|a| a.include?(activity.intensity ? 1 : 0) }.first.first.capitalize %>
	</td>
</tr>			