<% provide(:title, 'New Sheet') %>
<% include_javascript 'sheets/meals.js' %>
<% include_javascript 'sheets/activities.js' %>

<h1>New Sheet</h1>

<%= form_for(@sheet) do |f| %>
	<%= render 'fields', f: f %>
	<%= f.submit "Save", class: "btn btn-large btn-primary", onclick: "return false;" %>
<% end%>