<%= will_paginate @sheets %>
<table id="sheets">
	<thead>
		<th style="width: 150px">Date</th>
		<th style="width: 150px">Goals Met</th>
	</thead>
	<tbody>
		<% @sheets.each do |sheet| %>

		<tr>
			<td><%= sheet.date %></td>
			<td><%= sheet.goals_met? ? "Y" : "N" %></td>
		</tr>

		<% end %>
	</tbody>
</table>
<%= will_paginate @sheets %>
