<!-- 9.25 -->
<% provide(:title, 'All users') %>
<h1>All users</h1>

<div class="fit-pagination">
	<%= will_paginate @users, :container => false %>
</div>

<ul class="users">
	<%= render :partial => "user", :collection => @users %>
</ul>

<div class="fit-pagination">
	<div class="fit-page-entries-info">
		<%= page_entries_info @users %>
	</div>
	<%= will_paginate @users, :container => false %>
</div>