<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>

<%= form_for(@user) do |f| %>
<div class="row-fluid">
	<div class="span4 offset4">
			<%= render 'fields', f: f %>
  </div>
</div>			
<div class="row-fluid">
  <div class="span4 offset4">asd
			<%= f.submit "Create my account", class: "btn btn-large btn-primary" %>	
	</div>
</div>
<% end%>