<% include_javascript 'users/show.js' %>

<% # content_for(:aside) do %>
    <% # = render "shared/user_stat", object: @user %>
    <% # = render 'shared/breadcrumb', object: @sheet %>
<% # end %>

<%= render :partial => 'shared/aside', :locals => { :uobj => @user, :bcobj => @sheet } %>

<div class="row-fluid">

	<div class="span7">
		<div id="calendar"></div>
	</div>
	
	<div class="span5">
		<% if @sheets.any? %>
			<h3>Sheets (<%= @sheets.count %>)</h3>
				<%= render :partial => "shared/user_sheets_table" %>
		<% end %>
	</div>
</div>