<% include_javascript 'users/show.js' %>

<div class="row-fluid">
	<aside class="span2">
		<section>
			<%= render "shared/user_stat", object: @user %>
			<%= render 'shared/breadcrumb', object: @sheet %>
		</section>
		<section>
			
		</section>
		
	</aside>

	<div class="span5">
		<div id="calendar"></div>
	</div>
	
	<div class="span3">
		<% #if object.sheets.any? %>
		<% if @sheets.any? %>
			<h3>Sheets (<%= @sheets.count %>)</h3>
				<%= render :partial => "shared/user_sheets_table" %>
		<% end %>
	</div>
</div>